<footer class="bg-primary py-6 py-lg-10 footer">
    <div class="container d-flex flex-column align-items-center flex-lg-row justify-content-lg-between">
        <ul class="list-unstyled d-flex flex-column mb-10 mb-lg-0">
            <li class="mb-3">
                <a class="text-white hover-color-secondary" href="#">
                    <i class="fa-solid fa-square-phone me-3 fs-3 align-middle"></i>(02)1234-5678
                </a>
            </li>
            <li class="mb-3">
                <a class="text-white hover-color-secondary" href="#">
                    <i class="fa-solid fa-clock me-3 fs-3 align-middle"></i>營業時間:上午9:00-下午8:00
                </a>
            </li>
            <li>
                <a class="text-white hover-color-secondary" href="#">
                    <i class="fa-solid fa-map-location-dot me-3 fs-3 align-middle"></i>地址:XXXXXXXXXXXXXXXXXXXXXXXXXXX
                </a>
            </li>
        </ul>
        <ul class="list-unstyled d-flex flex-column mb-0 align-items-center align-items-lg-end">
            <li class="mb-3 d-flex gap-3">
                <a class="text-white hover-color-secondary" href="#">
                    <i class="fa-brands fa-square-facebook fs-3 align-middle"></i>
                </a>
                <a class="text-white hover-color-secondary" href="#">
                    <i class="fa-brands fa-square-instagram fs-3 align-middle"></i>
                </a>
            </li>
            <li>
                <p class="text-center text-white mb-0">Copyright@2022 六角專題 蒂曼妮美容SPA.All rights reserved.</p>
            </li>
        </ul>
    </div>
</footer>