// banner
.banner {
    height: calc(100vh - 80px);

    &-bg {
        background-image: url("../images/bg-banner.jpg");
        width: 100%;
        height: calc(100vh - 160px);
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }
}

// 最新消息
.news {
    &-content {
        @include content-ellipsis(1);
    }
}

// 嚴選療程
.course {
    &-img {
        width: 324px;
        height: 493px;
        &:hover {
            opacity: 0.5;
        }
    }
}

// 輪播
.swiper-button-prev, .swiper-button-next {
    font-size: 32px;
    &::after {
        content: '';
    }
    &:hover {
        color: $primary !important;
    }
}

// 環境介紹
.space {
    // 正面
    &-img {
        background-image: url("../images/space.jpg");
        &:hover {
            transition: transform 0.6s;
            transform: rotateY(180deg);
        }

        // 大圖
        &-lg {
            width: 347px;
            height: 703px;
        }

        // 中圖
        &-m {
            width: 348px;
            height: 448px;
        }

        // 小圖
        &-sm {
            width: 348px;
            height: 244px;
        }

        // 變換底圖
        &-1 {
            &:hover {
                background-image: url("../images/space-1.jpg");
            }
        }

        &-2 {
            &:hover {
                background-image: url("../images/space-2.jpg");
            }
        }

        &-3 {
            &:hover {
                background-image: url("../images/space-3.jpg");
            }
        }

        &-4 {
            &:hover {
                background-image: url("../images/space-4.jpg");
            }
        }

        &-5 {
            &:hover {
                background-image: url("../images/space-5.jpg");
            }
        }
    }
}