.service {
    &-img {
        height: 380px;
        width: 100%;
        @include media-breakpoint-up(lg) {
            width: 380px;
            height: 250px;
        }
    }

    &-info-img {
        width: 690px;
        height: 350px;
        @include media-breakpoint-up(lg) {
            width: 100%;
        }
    }
}