@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&display=swap');

// 全站樣式
body {
    font-family: "Noto Sans TC", "sans-serif";
    background-color: $light;
}

img {
    object-fit: cover; // 防止圖片變形
}

input[type="radio"] {
    background-color: $light;
    &:checked {
        background-color: $primary;
    }
}