.ff-noto-serif {
    font-family: "Noto Serif TC", "serif", ;
}

.ff-montaga {
    font-family: 'Montaga', serif;
}

.fs-lg-4 {
    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size !important;
    }
}

.w-lg-50 {
    @include media-breakpoint-up(lg) {
        width: 50%;
    }
}

.h-1 {
    height: 1px;
}

.hover-color-primary {
    &:hover {
        color: $primary !important;
    }
}

.hover-color-secondary {
    &:hover {
        color: $secondary !important;
    }
}

.hover-bg-color-primary {
    &:hover {
        background-color: $primary !important;
    }
}

.hover-border-primary {
    &:hover {
        border: 2px solid $primary !important;
    }
}

.hover-transition {
    &:hover {
        transition: .5s;
    }
}

.hover-transform-scale {
    &:hover {
        transform: scale(1.1);
    }
}

.hover-opacity {
    &:hover {
        opacity: 0.6;
    }
}

.img-radius-top {
    @include img-radius-top;
}

.img-radius-bottom {
    @include img-radius-bottom;
}

.rounded-4 {
    border-radius: 0.5rem; // 8px
}

.rounded-5 {
    border-radius: 0.75rem; // 12px
}

[data-aos="img-rotate"] {
    transition-property: background-image;
    &.aos-animate {
        transition: transform 0.6s;
        transform: rotateY(180deg);
        background-image: url("../images/space.jpg");
    }
}

// 日期套件
.datepicker-picker, .datepicker-controls, .datepicker-controls .button {
    background-color: $light;
}

.datepicker-header {
    padding: 0;
}

.reserve-date {
    border: 1px solid $secondary;
    border-radius: 4px;
}

.datepicker-cell, .datepicker-controls .button {
    &.selected, &.selected:hover, &:not(.disabled):hover, &.focused:not(.selected) {
        background-color: $primary;
    }

    &.today.focused:not(.selected), &.today:not(.selected) {
        background-color: $black;
    }
}