.ff-noto-serif {
    font-family: "Noto Serif TC", "serif", ;
}

.ff-montaga {
    font-family: 'Montaga', serif;
}

.fs-lg-4 {
    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size !important;
    }
}

.w-lg-50 {
    @include media-breakpoint-up(lg) {
        width: 50%;
    }
}

.hover-color-primary {
    &:hover {
        color: $primary !important;
    }
}

.hover-color-secondary {
    &:hover {
        color: $secondary !important;
    }
}

.img-radius-top {
    @include img-radius-top;
}

.img-radius-bottom {
    @include img-radius-bottom;
}

[data-aos="img-rotate"] {
    transition-property: background-image;
    &.aos-animate {
        transition: transform 0.6s;
        transform: rotateY(180deg);
        background-image: url("../images/space.jpg");
    }
  }