
.bg-circle {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        left: 20%;
        border: 1px solid $secondary;
        width: 200px;
        height: 80px;
        border-radius: 50%;
        transform: rotate(-30deg);

        @include media-breakpoint-up(sm) {
            left: 30%;
        }
        @include media-breakpoint-up(md) {
            left: 35%;
        }
        @include media-breakpoint-up(lg) {
            left: 40%;
        }
    }
}