.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-star-1 {
    background-image: url("../images/frame-1.png");
    width: 100px;
    height: 100px;
}
.bg-star-2 {
    background-image: url("../images/frame-2.png");
    width: 100px;
    height: 100px;
}
.bg-star-3 {
    background-image: url("../images/frame-3.png");
    width: 100px;
    height: 100px;
}